{"Easy":[
{"name":"fpsol2.i.1","colors":"64"},
{"name":"fpsol2.i.2","colors":"29"},
{"name":"fpsol2.i.3","colors":"29"},
{"name":"inithx.i.1","colors":"53"},
{"name":"inithx.i.2","colors":"30"},
{"name":"inithx.i.3","colors":"30"},
{"name":"mulsol.i.1","colors":"48"},
{"name":"mulsol.i.2","colors":"30"},
{"name":"mulsol.i.3","colors":"30"},
{"name":"mulsol.i.4","colors":"30"},
{"name":"mulsol.i.5","colors":"30"},
{"name":"zeroin.i.1","colors":"48"},
{"name":"zeroin.i.2","colors":"29"},
{"name":"zeroin.i.3","colors":"29"},

{"name":"le450_5a","colors":"4"},
{"name":"le450_5b","colors":"4"},
{"name":"le450_5c","colors":"4"},
{"name":"le450_5d","colors":"4"},
{"name":"le450_15a","colors":"14"},
{"name":"le450_15b","colors":"14"},
{"name":"le450_15c","colors":"14"},
{"name":"le450_15d","colors":"14"},
{"name":"le450_25a","colors":"24"},
{"name":"le450_25b","colors":"24"},
{"name":"le450_25c","colors":"24"},
{"name":"le450_25d","colors":"24"},
{"name":"le450_25d","colors":"24"},

{"name":"school1","colors":"13"},
{"name":"school1_nsh","colors":"13"},

{"name":"anna","colors":"10"},
{"name":"david","colors":"10"},
{"name":"homer","colors":"12"},
{"name":"huck","colors":"10"},
{"name":"jean","colors":"9"},

{"name":"games120","colors":"8"},

{"name":"miles250","colors":"7"},
{"name":"miles500","colors":"19"},
{"name":"miles750","colors":"30"},
{"name":"miles1000","colors":"41"},
{"name":"miles1500","colors":"72"},

{"name":"queen5_5","colors":"4"},
{"name":"queen7_7","colors":"6"},
{"name":"queen8_12","colors":"11"},
{"name":"queen10_10","colors":"9"},
{"name":"queen11_11","colors":"10"},
{"name":"queen12_12","colors":"11"},
{"name":"queen13_13","colors":"12"},
{"name":"queen14_14","colors":"13"},
{"name":"queen15_15","colors":"14"},
{"name":"queen16_16","colors":"15"}
],
"Hard":[
{"name":"myciel3","colors":"3"},
{"name":"myciel4","colors":"4"},
{"name":"myciel5","colors":"5"}
]
}