{"A":[
{"name":"fapp01","level":"4"},
{"name":"fapp02","level":"2"},
{"name":"fapp03","level":"7"},
{"name":"fapp04","level":"1"},
{"name":"fapp05","level":"11"},
{"name":"fapp06","level":"5"},
{"name":"fapp07","level":"9"},
{"name":"fapp08","level":"5"},
{"name":"fapp09","level":"3"},
{"name":"fapp10","level":"6"},
{"name":"fapp11","level":"8"},
{"name":"fapp12","level":"2"},
{"name":"fapp13","level":"3"},
{"name":"fapp14","level":"4"},
{"name":"fapp15","level":"5"}
],
"B":[
{"name":"fapp16","level":"11"},
{"name":"fapp17","level":"4"},
{"name":"fapp18","level":"8"},
{"name":"fapp19","level":"6"},
{"name":"fapp20","level":"10"},
{"name":"fapp21","level":"4"},
{"name":"fapp22","level":"7"},
{"name":"fapp23","level":"9"},
{"name":"fapp24","level":"7"},
{"name":"fapp25","level":"3"},
{"name":"fapp26","level":"7"},
{"name":"fapp27","level":"5"},
{"name":"fapp28","level":"3"},
{"name":"fapp29","level":"6"},
{"name":"fapp30","level":"7"}
],
"X":[
{"name":"fapp31","level":"5"},
{"name":"fapp32","level":"6"},	
{"name":"fapp33","level":"5"},
{"name":"fapp34","level":"4"},
{"name":"fapp35","level":"6"},
{"name":"fapp36","level":"7"},
{"name":"fapp37","level":"5"},
{"name":"fapp38","level":"3"},
{"name":"fapp39","level":"3"},
{"name":"fapp40","level":"4"}
],
"S":[
{"name":"fapp30","level":"7"}
]
}